<%- layout('base.ejs') %>
<script>
	window.article = <%- JSON.stringify(article) %>
</script>
<% block('meta', partial('meta-articles')) -%>
<% block('title', article.title) -%>

<% script("/libs/moment/min/moment-with-locales.min.js") -%>
<% script("/build/js/article.js") -%>
<% script("/build/js/share.js") -%>

<% script("/libs/owl-carousel/owl-carousel/owl.carousel.min.js") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.carousel.css") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.theme.css") -%>

<% stylesheet("/build/css/content.css") -%>
<% stylesheet("/build/css/content-columns.css") -%>
<% stylesheet("/build/css/event-line.css") -%>
<% stylesheet("/build/css/article.css") -%>

<div id="fb-root"></div>

<div class="page" ng-controller="contentCtrl" ng-init="init()">
	<article class="post">

		<div class="title-image">
			<img src="<%- article.image %>">
			<div class="black-postphoto"></div>
			<span> 
				<span><%- article.title %></span>
				<p><%- article.description %></p>
				<div class="info-panel"></div>
				<span class="title">
					<h1><span><%- article.title %></span></h1>
					<p><%- article.description %></p>
					<div class="info-panel">
						<span class="date">Новость опубликована {{ article.date }}</span>
						<span class="views">
							<span class="fa fa-eye"></span>
							<span class="view-count"><%- article.views %></span>
						</span>
					</div>
				</span>
			</span>
		</div>

		<div class="content"><%- article.content %></div>
		<% if (article.author) { %>
		<p class="author">
			Автор <%- article.author %>
		</p>
		<% } %>

		<div class="other-mode">
			<div>
				<span>
					<p>Поделись с друзьями:</p>
				    <p class="share-bottom-buttons">
						<% if (user && user.name == 'Gendalf') { %>
					    	<a href="/admin/?article_id={{ article._id }}"><span class="update_button fa fa-key"></span></a>
					    <% } %>
					    <span class="social_share fa fa-vk" data-type="vk"></span>
					    <span class="social_share fa fa-facebook" data-type="fb"></span>
					    <span class="social_share fa fa-twitter" data-type="tw"></span>
				    </p>
				</span>
			</div>
		</div>

		<div class="social-buddies gray">
			<h3 class="tag-title">Подпишись, чтобы всегда быть в курсе</h3>
			<div class="socials">
				<span>
					<a href="https://twitter.com/tvoyredaktor" class="twitter-follow-button" data-show-count="false" data-lang="en">Подписаться на Твой Космос</a>

					<div style="width: auto !important" class="fb-like" data-href="https://www.facebook.com/tvoykosmos" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

					<div id="vk_subscribe"></div>
				</span>
			</div>
		</div>

		<div class="events">
			<div id="slider" 
				 class="owl-carousel">
				<div class="each-event" 
					 ng-repeat="evt in event_list">
					<a href="/event/{{ evt._id }}">
						<div class="event-image" 
							 style="background-image: url({{ evt.image_preview }})">
						</div>
						<div class="event-info-top">
							<span>
								<p>{{ evt.title }}</p>
							</span>
						</div>
						<div class="event-info">
							<span>
								<p>{{ evt.title }}</p>
							</span>
						</div>
					</a>	
				</div>
			</div>
		</div>

	</article>
	<aside class="list">
		<div class="posts-list gray">
			<h3 class="tag-title popular">Последние новости</h3>
			<a href="/post/{{ news._id }}" ng-repeat="news in last">
				<div ng-if="news_type=='normal' || !news_type" class="each-post">
					<div class="image" style="background-image : url({{ news.image }})"></div>
					<div class="title">{{news.title}}</div>
					<div class="description">{{news.description}}</div>
				</div>
				<div ng-if="news_type=='special'" class="each-post">
					<div class="image" style="background-image : url({{ news.image_special }})"></div>
					<div class="title">{{news.title_special}}</div>
					<div class="description">{{news.description_special}}</div>
				</div>
			</a>
		</div>

		<div id="vk_groups" style="margin: 0 auto"></div>
	</aside>
	<aside class="misc">
		<div class="posts-list">
			<h3 class="tag-title">Популярное за неделю</h3>
			<a href="/post/{{ news._id }}" ng-repeat="news in popular">
				<div ng-if="news_type=='normal' || !news_type" class="each-post">
					<div class="title">{{news.title}}</div>
					<div class="description">{{news.description}}</div>
				</div>
				<div ng-if="news_type=='special'" class="each-post">
					<div class="title">{{news.title_special}}</div>
					<div class="description">{{news.description_special}}</div>
				</div>
			</a>
		</div>
		<a class="twitter-timeline" href="https://twitter.com/tvoykosmosbaby" data-widget-id="500006500979331072"></a>

		<div class="fb-like-box" data-href="https://www.facebook.com/tvoyredaktor" data-width="272" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
	</aside>
	<!-- <aside class="misc">
	</aside> -->
</div>

<script async>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1529286413954549&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<div id="vk_api_transport"></div>
<script type="text/javascript">
	setTimeout(function() {
	    var el = document.createElement("script");
	    el.type = "text/javascript";
	    el.src = "http://vkontakte.ru/js/api/openapi.js";
	    el.async = true;
	    document.getElementById("vk_api_transport").appendChild(el);
	  }, 0);
	a = setInterval(function() {
		try {
			if (!!VK) {
				VK.Widgets.Subscribe("vk_subscribe", { width: "70px", mode: 2}, -75281223);

				VK.Widgets.Group("vk_groups", {mode: 0, width: "300", height: "200",color1: 'E5E5E5', color2: '2B587A', color3: 'FFB52E'}, 75281223);
				clearInterval(a);
			}
		} catch(err) {
		}
		
	}, 200)
</script>




