<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<title><%- blocks.title %></title>
	<meta charset="UTF-8"> 
	<script src="/libs/angular/angular.min.js"></script>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/angular-local-storage/angular-local-storage.min.js"></script>
	<script>console.a=console.log=console.warn;styles=['background-color:#8539FF','color:white','font-weight:bold','text-shadow:0 1px 1px rgba(0,0,0,.5)','height:50px','font-size:20px','line-height:50px','display:block','padding:10px 40px','text-align:center','width:100%'].join(';');console.warn=console.log=function(){console.a('%c МАГИЯ ТВОЕГО КОСМОСА', styles);}</script>
	<script>
		tk = angular.module('tvoyKosmos',['ui.tinymce', 'LocalStorageModule']);
	</script> 
	<%- scripts%>
	<script src="/libs/angular-ui-tinymce/src/tinymce.js"></script>

	<link rel="stylesheet" href="/stylesheets/fonts.css">
	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"></link>
	<link rel="icon" type="image/png" href="/images/tk.png" sizes="32x32">
	<%- stylesheets %>

</head>
<body ng-app="tvoyKosmos">
	
	<%- partial('modal')%>
	<div class="container">	
		<%- partial('header') %>	
		<%- body %>
	</div>

	<style>
	html, body {
		height: 100%;
		width: 100%;
		background: #e2e2e2;
	}
	.container {
		width: 1200px !important;
		background: #f5f5f5;
		box-shadow: 0px 2px 2px rgba(0,0,0,.5);
	}
	*[ng-click] {
		cursor: pointer;
	}
	</style>
</body>
</html>