<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
	<title><%- blocks.title %></title>
	<meta charset="UTF-8">
	<script src="/libs/angular/angular.min.js"></script>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<%- scripts%>

	<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"></link>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<%- stylesheets %>

</head>
<body>
	<div class="container">	
		
	<%- partial('header') %>	
	<%- body %>
	</div>

	<style>
	html, body {
		height: 100%;
		width: 100%;
		background: #e2e2e2;
	}
	.container {
		width: 1200px !important;
		background: #f5f5f5;
		box-shadow: 0px 2px 2px rgba(0,0,0,.5);
	}
	*[ng-click] {
		cursor: pointer;
	}
	</style>
</body>
</html>