<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=320, user-scalable=0">
	<meta charset="UTF-8">
	<%- blocks.meta %>
	<link rel="stylesheet" href="/build/css/fonts.css">
	<%- scripts %>
	<%- stylesheets %>

	<title>Твой Космос | Новостное научно-популярное издание о науке и космосе</title>
	
	<script>
	  !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
	  arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
	  d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
	  insertBefore(d,q)}(window,document,'script','_gs');

	  _gs('GSN-754813-N');
	</script>
	<script src="/libs/jquery/dist/jquery.min.js"></script>
	<script src="/libs/fastclick/lib/fastclick.js"></script>
	<script>
		$(function() {
		    FastClick.attach(document.body);
		});
	</script>
</head>
<style>
	html, body {
		padding: 0;
		margin: 0;
		background-color: #eaeaea;
		border-top: 2px solid #FFB52E;
		border-bottom: 2px solid #FFB52E;
	}	
	.tk_loader {
		background-color: #222;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9999;
		/*-webkit-transition: all 0.7s;*/
		/*-o-transition: all 0.7s;*/
		/*transition: all 0.7s;*/
	}
	.tk_loader img {
		position: absolute;
		top: 0;
		height: 50px;
		width: 50px;
		right: 0; 
		bottom: 0; 
		left: 0; 
		margin: auto;
	}
</style>
<body>
	<div class="tk_loader">
		<img src="/images/tk_logo.png">
	</div>
	<%- partial('header-mobile') %>
	<%- body %>
	<%- partial('footer-mobile') %>

	<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26010921 = new Ya.Metrika({id:26010921, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/26010921" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
	
</body>
	<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-54121517-1', 'auto');ga('send', 'pageview',{'page':location.pathname+location.search+location.hash});</script>
	<script>

		loader_on_stage = true;
		$(window).load(function() {
			unwindFade();
		})
		setTimeout(function() {
			unwindFade();
		}, 1200)

		var unwindFade = function() {
			if (loader_on_stage) {
				$('.tk_loader').animate({
					opacity : 0
				}, 600, function() {
					$('.tk_loader').css({
						display: 'none'
					})
				})
				loader_on_stage = false;
			}
		}
	</script>



</html>