<%- layout('base.ejs') %>
<script>
	window.post = <%- JSON.stringify(post) %>
</script>
<% script("/libs/moment/min/moment-with-locales.min.js") -%>
<% script("/javascripts/utils.js") -%>
<% script("/javascripts/content.js") -%>
<% script("/javascripts/share.js") -%>
<% block('meta', partial('meta')) -%>
<% block('title', post.title) -%>

<% stylesheet("/stylesheets/content.css") -%>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>

<div class="page" ng-controller="contentCtrl" ng-init="init()">
	<article class="post">

		<h1 ng-if="news_type=='normal' || !news_type" class="title">
			<%- post.title %>
		</h1>
		<h1 ng-if="news_type=='special'" class="title"><%- post.title_special %>
		</h1>

		<div class="social_share_buttons">
		    <span class="social_share fa fa-vk" data-type="vk"></span>
		    <!-- <span class="social_share fa fa-facebook" data-type="fb"></span> -->
		    <span class="social_share fa fa-twitter" data-type="tw"></span>
		</div>
		<div class="date">Редактор произвел новость {{ post.date }}</div>

		<div class="description" ng-if="news_type=='normal' || !news_type">
			<%- post.description %>
		</div>
		<div class="description" ng-if="news_type=='special'">
			<%- post.description_special %>
		</div>	

		<div class="content" ng-if="news_type=='normal' || !news_type">
			<%- post.content %>
		</div>
		<div class="content" ng-if="news_type=='special'">
			<%- post.content_special %>
		</div>

		<div class="social_share_buttons">
		    <span class="social_share fa fa-vk" data-type="vk"></span>
		    <!-- <span class="social_share fa fa-facebook" data-type="fb"></span> -->
		    <span class="social_share fa fa-twitter" data-type="tw"></span>
		</div>

		<div ng-if="news_type=='normal' || !news_type" 
			 class="after-text-advice">{{ generateAfterTextAdvice('normal') }} <span ng-click="slideAndChangeMode('special')">Читай что попроще.</span></div>
		<div ng-if="news_type=='special'" 
			 class="after-text-advice">{{ generateAfterTextAdvice('special') }} <span ng-click="slideAndChangeMode('normal')">Читай классическую версию.</span></div>


	</article>
	<aside class="list">
		<div class="posts-list">
			<h3 class="tag-title">Последние новости</h3>
			<a href="/post/{{ news._id }}" ng-repeat="news in popular">
				<div ng-if="news_type=='normal'" class="each-post">
					<div class="title">{{news.title}}</div>
					<div class="date">{{news.date}}</div>
					<div class="description">{{news.description}}</div>
				</div>
				<div ng-if="news_type=='special'" class="each-post">
					<div class="title">{{news.title_special}}</div>
					<div class="date">{{news.date}}</div>
					<div class="description">{{news.description_special}}</div>
				</div>
			</a>
		</div>
	</aside>
	<aside class="misc">
		<a class="twitter-timeline" href="https://twitter.com/tvoykosmosbaby" data-widget-id="500006500979331072"></a>
		<div id="vk_groups"></div>
		<!-- <div class="fb-like-box" data-href="https://www.facebook.com/tvoykosmos" data-width="272" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div> -->
	</aside>
</div>
<!--<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=123344407840562&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script> -->
<script async>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>
<script src="//vk.com/js/api/openapi.js?115"></script>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "272", height: "200",color1: 'E5E5E5', color2: '2B587A', color3: '5B7FA6'}, 75281223);
</script>




