<%- layout('base-mobile') %>

<% script("/libs/jquery/dist/jquery.min.js") -%>
<% script("/libs/owl-carousel/owl-carousel/owl.carousel.min.js") -%>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.carousel.css") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.theme.css") -%>
<% stylesheet("/build/css/content-mobile.css") -%>

<% block('meta', partial('meta-events')) -%>


<script>
	$(document).ready(function() {
   	    $("#slider").owlCarousel();
	});
</script>

<div class="post">
	<div class="image-title" style="background-image: url(<%- event_.image_preview %>)"></div>
	<h1 class='title'><%- event_.title %></h1>
	<div class="content"><%- event_.content %></div>
</div>
<div class="popular">
	<p class="title-tag">Последние новости</p>
	<div id="slider" class="owl-carousel">	
		<% L = posts.length; for (var i=0; i< L; i++) { %>
		<a href="/post/<%- posts[i]._id%>">
			<div class="each-post">
				<div class="image" style="background-image: url(<%- posts[i].image %>);">
				</div>
				<div class="title"><%- posts[i].title %></div>
			</div>
		</a>
		<% } %>
	</div>
</div>