<%- layout('base.ejs') %>

<script>
	window.event_ = <%- JSON.stringify(event_) %>
</script>

<% script("/libs/moment/min/moment-with-locales.min.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% script("/build/js/share.js") -%>
<% script("/build/js/event.js") -%>
<% script("/libs/owl-carousel/owl-carousel/owl.carousel.min.js") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.carousel.css") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.theme.css") -%>
<% stylesheet("/build/css/index.css") -%>
<% stylesheet("/build/css/content-columns.css") -%>
<% stylesheet("/build/css/event-line.css") -%>
<% stylesheet("/build/css/events.css") -%>

<div class="page" ng-controller="eventCtrl" ng-init="init()">
	<article class="post">
		<div class="image">
			<img src="<%- event_.image_preview %>">
		</div>
		<div class="info">
			<p class="title"><%- event_.title %></p>
			<p class='date gray'>Событие выложено {{ event_.date }}</p>
			<p class="description"><%- event_.description %></p>

			<div class="other-mode">
				<div class="left">
					<span>
						<p>Поделись с друзьями:</p>
					    <p class="share-bottom-buttons">
						    <span class="social_share fa fa-vk" data-type="vk"></span>
						    <span class="social_share fa fa-facebook" data-type="fb"></span>
						    <span class="social_share fa fa-twitter" data-type="tw"></span>
					    </p>
					</span>
				</div>
			</div>
		</div>
	</article>

	<aside class="article-and-news">
	
		<div class="article">
			<div class="article-image" style="background-image: url({{ last_article.image }})">
				<div class="fader"></div>
				<span class="article-info">
					<p class="article-type">{{ last_article.type_label }}</p>
					<p class="article-title">{{ last_article.title}}</p>
					<p class="article-misc"><span class="fa fa-eye"></span> <span>{{ last_article.views }}</span></p>
				</span>
			</div>	
		</div>

		<news class="s11" 
			  ng-model="n" 
			   type="news_type"  
			  ng-repeat="n in news">
			<a class="inner-container" href="/post/{{ n._id }}">
			 	<div class="picture" 
			 		 style="background-image: url({{ n.image }})">
					<div class="views">
						<span>	
							<span class="fa fa-eye"></span>
							<span>{{ n.views }}</span>
						</span>
					</div>
			 	</div>
				<div class="hover-stater"></div>
			 		<div ng-show="n.special" class="special_mark">{{ n.special }}</div>
				<div class="text-container">
			 		<div class='news_title'>
				 		<p>{{ n.title }}</p>
			 		</div>	
				 	<div class="description">
				 		<p>{{ n.description }}</p>
				 	</div>
				</div>
			</a>
		</news>	
	</aside>
	<aside class="list">
		<div class="posts-list gray">
			<h3 class="tag-title popular">Последние события</h3>
			<a href="/event/{{ evt._id }}" ng-repeat="evt in event_list">
				<div class="each-post">
					<div class="image" style="background-image : url({{ evt.image_preview }})"></div>
					<div class="title">{{evt.title}}</div>
				</div>
			</a>
		</div>
	</aside>

</div>
