<%- layout('base.ejs') %>

<script>
	window.event_ = <%- JSON.stringify(event_) %>
</script>

<% block('meta', partial('meta-events')) -%>
<% block('title', event_.title) -%>

<% script("/libs/moment/min/moment-with-locales.min.js") -%>
<% script("/javascripts/directives/news_element.js") -%>
<% script("/build/js/share.js") -%>
<% script("/build/js/event.js") -%>
<% script("/libs/owl-carousel/owl-carousel/owl.carousel.min.js") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.carousel.css") -%>
<% stylesheet("/libs/owl-carousel/owl-carousel/owl.theme.css") -%>
<% stylesheet("/build/css/index.css") -%>
<% stylesheet("/build/css/content-columns.css") -%>
<% stylesheet("/build/css/event-line.css") -%>
<% stylesheet("/build/css/article-line.css") -%>
<% stylesheet("/build/css/event.css") -%>

<div class="page" ng-controller="eventCtrl" ng-init="init()">
	<article class="post">
		<div class="image">
			<img src="<%- event_.image_full %>">
		</div>
		<div class="info">
			<p class="title tk_color"><%- event_.title %></p>
			<p class='date gray'>Опубликовано {{ event_.date }}</p>
			<p class="description"><%- event_.description %></p>

			<div class="other-mode">
				<div class="left">
					<span>
						<p>Поделись с друзьями:</p>
					    <p class="share-bottom-buttons">
					    	<% if (user && user.name == 'Gendalf') { %>
					    		<a href="/admin/?event_id={{ post._id }}"><span class="update_button fa fa-key"></span></a>
					    	<% } %>
						    <span class="social_share fa fa-vk" data-type="vk"></span>
						    <span class="social_share fa fa-facebook" data-type="fb"></span>
						    <span class="social_share fa fa-twitter" data-type="tw"></span>
					    </p>
					</span>
				</div>
			</div>
		</div>
	</article>

	<aside class="article-and-news">
	
		<div class="article">
			<div class="article-loader" ng-show="article_loading">
					<span class="fa fa-cog fa-spin"></span>
				</div>
			<a href="/article/{{ last_article._id }}">
				<div class="article-image" style="background-image: url({{ last_article.image }})">
					<div class="fader"></div>
					<span class="article-info-big">
						<p class="article-type">{{ last_article.type_label }}</p>
						<p class="article-title">{{ last_article.title }}</p>
						<p class="article-description">{{ last_article.description }}</p>
						<div class="article-info">
							<span>	
								<p class="article-type">{{ last_article.type_label }}</p>
								<p class="article-title">{{ last_article.title }}
									<span class="article-slide-description">{{ last_article.description }}</span>
								</p>
							</span>
						</div>
					</span>
				</div>	
			</a>
		</div>

		<news class="s11" 
			  ng-model="n" 
			  type="news_type"  
			  ng-repeat="n in news">
		</news>	
	</aside>
	<aside class="list">
		<div class="posts-list gray">
			<h3 class="tag-title popular">Последние события</h3>
			<a href="/event/{{ evt._id }}" ng-repeat="evt in event_list">
				<div class="each-post">
					<div class="image" style="background-image : url({{ evt.image_preview }})"></div>
					<div class="title">{{evt.title}}</div>
				</div>
			</a>
		</div>
	</aside>

</div>
