<%- layout('base') %>
<% stylesheet("/libs/fontawesome/css/font-awesome.min.css") -%>
<% stylesheet("/stylesheets/index.css") -%>

<% block('meta', partial('meta_index')) -%>
<% block('title', 'Твой Космос | Новостное научно-популярное издание о науке и космосе') -%>

<style>

	news.s11 {
		width: 25%;
		height: 385px;
	}

</style>

<div class="feed">
	<% a = news.length; for (var i = 0; i < a; i ++ ) { %>
		<news class="s11">
			<a class="inner-container" href="/post/<%- news[i]._id %>">

			 	<div class="picture" 
			 		 style="background-image: url(<%- news[i].image %> )">
					<div class="views">
						<span>	
							<span class="fa fa-eye"></span>
							<span><%- news.views %></span>
						</span>
					</div>
			 	</div>
				<div class="hover-stater"></div>
				<% if (news[i].special) { %>
			 		<div class="special_mark"><%- news[i].special %></div>
				<% } %>
				<div class="text-container">
			 		<div class='news_title'>
				 		<p><%- news[i].title %></p>
			 		</div>	
				 	<div class="description">
				 		<p><%- news[i].description %></p>
				 	</div>
				</div>
			</a>
		</news>	
	<% } %>
</div>